<a href="https://colab.research.google.com/github/HarshKumarChoudary/AC-Data-Analysis/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Task 2***: 
Which AC was used Most and which was used least?

First importing all libraries and loading the dataset in to dataframe and getting its details.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv("/content/AC_Data.csv",parse_dates=['0'])
df.info()

print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87840 entries, 0 to 87839
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       87840 non-null  datetime64[ns]
 1   AC 1    43708 non-null  float64
 2   AC 2    43711 non-null  float64
 3   AC 3    43713 non-null  float64
 4   AC 4    43704 non-null  float64
 5   AC 5    43716 non-null  float64
 6   AC 6    43717 non-null  float64
 7   AC 7    43679 non-null  float64
 8   AC 8    43704 non-null  float64
 9   AC 9    43654 non-null  float64
 10  AC 10   43690 non-null  float64
 11  AC 11   43670 non-null  float64
 12  AC 12   43713 non-null  float64
 13  AC 13   43719 non-null  float64
 14  AC 14   43696 non-null  float64
 15  AC 15   43715 non-null  float64
 16  AC 16   43710 non-null  float64
 17  AC 17   43714 non-null  float64
 18  AC 18   43723 non-null  float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 12.7 MB
                        0      AC 1      AC 2  ...     AC 16     AC 17     AC 18
0     2019-08-01 00:00:00  7.518632  8.788315  ...  4.113460  3.305072  6.735981
1     2019-08-01 00:01:00       NaN       NaN  ...       NaN       NaN       NaN
2     2019-08-01 00:02:00  7.426114  8.940615  ...  3.986483  3.220588  6.379500
3     2019-08-01 00:03:00       NaN       NaN  ...       NaN       NaN       NaN
4     2019-08-01 00:04:00  7.052986  9.161103  ...  3.797881  3.131560  6.363475
...                   ...       ...       ...  ...       ...       ...       ...
87835 2019-09-30 23:55:00  0.000000  6.122385  ...  1.854352  3.027539  7.259989
87836 2019-09-30 23:56:00       NaN       NaN  ...       NaN       NaN       NaN
87837 2019-09-30 23:57:00  1.209176  6.152532  ...  1.870886  2.991946  7.134647
87838 2019-09-30 23:58:00       NaN       NaN  ...       NaN       NaN       NaN
87839 2019-09-30 23:59:00  1.430442  6.078281  ...  1.862166  3.009434  7.179719

[87840 rows x 19 columns]

**Pre-Processing**

Data set is preprocessed to remove Null values so as to make it eligible for further analysis.

We are using ***Interpolation*** method for this task.

In [2]:
for col in df.columns:
  df[col] = df[col].interpolate(method='linear',limit_direction='forward')
print(df)

                        0      AC 1      AC 2  ...     AC 16     AC 17     AC 18
0     2019-08-01 00:00:00  7.518632  8.788315  ...  4.113460  3.305072  6.735981
1     2019-08-01 00:01:00  7.472373  8.864465  ...  4.049972  3.262830  6.557740
2     2019-08-01 00:02:00  7.426114  8.940615  ...  3.986483  3.220588  6.379500
3     2019-08-01 00:03:00  7.239550  9.050859  ...  3.892182  3.176074  6.371487
4     2019-08-01 00:04:00  7.052986  9.161103  ...  3.797881  3.131560  6.363475
...                   ...       ...       ...  ...       ...       ...       ...
87835 2019-09-30 23:55:00  0.000000  6.122385  ...  1.854352  3.027539  7.259989
87836 2019-09-30 23:56:00  0.604588  6.137458  ...  1.862619  3.009743  7.197318
87837 2019-09-30 23:57:00  1.209176  6.152532  ...  1.870886  2.991946  7.134647
87838 2019-09-30 23:58:00  1.319809  6.115407  ...  1.866526  3.000690  7.157183
87839 2019-09-30 23:59:00  1.430442  6.078281  ...  1.862166  3.009434  7.179719

[87840 rows x 19 columns]

Resampling df to other dataframe which has dates only (time is not shown). 

It uses mean formula to find the mean of data of 1440 minutes and assign its value to one day.

In [3]:
df_in_days = df.resample('1D',on = '0').mean().reset_index()

In [4]:
print(df_in_days)

            0      AC 1      AC 2  ...     AC 16     AC 17     AC 18
0  2019-08-01  4.311251  7.192770  ...  3.620367  4.643621  7.561096
1  2019-08-02  3.977381  4.997287  ...  3.442106  4.444483  7.787343
2  2019-08-03  3.254814  4.291223  ...  2.929687  4.384711  7.883526
3  2019-08-04  4.210091  4.451087  ...  2.927226  4.555513  8.381225
4  2019-08-05  3.536980  4.008955  ...  3.466886  3.813778  6.106891
..        ...       ...       ...  ...       ...       ...       ...
56 2019-09-26  3.507869  4.147379  ...  2.578243  4.331568  6.372984
57 2019-09-27  2.299397  3.281170  ...  2.213882  4.265494  6.890618
58 2019-09-28  1.187906  3.226275  ...  2.433880  3.242749  4.270624
59 2019-09-29  1.133421  2.359928  ...  1.925555  3.440847  5.532254
60 2019-09-30  1.588607  3.344281  ...  1.902732  3.484985  5.616129

[61 rows x 19 columns]

In [7]:
df_in_days.describe()

            AC 1       AC 2       AC 3  ...      AC 16      AC 17      AC 18
count  61.000000  61.000000  61.000000  ...  61.000000  61.000000  61.000000
mean    2.376302   3.861889   2.565133  ...   2.797083   4.216725   6.460183
std     1.515003   1.977593   0.899312  ...   0.796101   0.373248   0.763704
min     0.000000   0.000000   0.982203  ...   1.149433   3.143709   4.270624
25%     1.133421   2.539627   1.878803  ...   2.356376   4.058484   5.961595
50%     2.299397   4.115105   2.553224  ...   2.843963   4.292066   6.470877
75%     3.531463   5.003908   3.120433  ...   3.211795   4.470109   6.783736
max     5.027449   7.899831   4.912729  ...   5.126310   4.912867   8.381225

[8 rows x 18 columns]

Hence after describing the Dataset we could see that the mean power consumption of ACs over two month is shown.

From it we can conclude that on an average over two months :-
***


1.   AC 5 uses the Least Power.
2.   AC 18 uses the Max power.


***